:root {
    --white: #fcf7d3;
    --purple:#a04f62;
    --blue-light:#aeced2;
    --blue-dark:#5b9b9a;
    --green: #91be95;
    --black: #141325;
    --red: #790614;
}
body {
background: linear-gradient(to bottom, var(--purple) , var(--blue-light));
height: 100vh;
font-family: 'Prompt', sans-serif;
}
.container {
max-width:100%;
width: 400px;
height: 600px;
margin: 0 auto;
padding: 0 30px;
}  */

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

:root {
    --white: #fcf7d3;
    --purple:#a04f62;
    --blue-light:#aeced2;
    --blue-dark:#5b9b9a;
    --green: #91be95;

}

body {
background: linear-gradient(to bottom,var(--purple),var(--blue-light));
height: 100vh;   
font-family: 'Prompt', sans-serif;
}

.container {
max-width: 80%;
width: 400px;
height: 600px;
margin: 0 auto;
}

.perfil h1 {
color: var(--white);
}

.perfil span {
color: var(--white);
letter-spacing: 1px;
}

#fecha {
color: var(--white);
padding: 50px 0 5px 0px;

}

/*AGREGAR TAREA*/

.agregar-tarea {
background-color: var(--white) ;
border-radius: 15px;
height: 70px;
display: flex;
align-items: center;
gap: 70px;
padding: 10px;
margin: 40px 0;
}

.agregar-tarea input {
width: 100%;
height: 100%;
border-radius: 15px;
border: none;
background-color: var(--white);
padding-left: 20px;

}
.agregar-tarea input::placeholder {
font-size: 1.1rem;
color: var(--purple);
}

.agregar-tarea i{
font-size: 50px;
color: var(--green);

}
.agregar-tarea i:hover {
transform: scale(1.1);
cursor: pointer;
}



/*SECCION DE TAREA */

.seccion-tarea h3 {
color: var(--white);
margin-bottom: 20px;
}

.seccion-tarea li {
display: flex;
align-items: center;
justify-content: space-between;
background: linear-gradient(to bottom,var(--blue-light),var(--blue-dark));
border-radius: 25px;
padding: 5px;
color: var(--black);
margin: 5px 0;
}

.seccion-tarea i {
font-size: 25px;
}

.seccion-tarea > ul p {
font-size: 1rem; 

}


.seccion-tarea i:hover {
color: var(--blue-light);
cursor: pointer;
}

.line-through{
text-decoration: line-through;
color : var(--blue-light);
} 

.search{
    margin: 20px;
}

.search > h3{
    color: red;
    margin-bottom: 15px;
}

.search > div{
    display: inline-block;
    position: relative;
}

.search > div::after{
    content: "";
    background: black;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(135deg);
}

.search > div > input{
    color: black;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px black;
    outline: none;
    border-radius: 35px;
    transition: width 0.5ss;
}

.search > div > input::placeholder{
    color: black;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder{
    opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown){
    width: 250px;
}

